################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlobStorage
/BlobStorage.Api/bin/Debug/netcoreapp3.1
/BlobStorage.Api/obj
